.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card img{
    margin: 10px;
    box-shadow: 3px 3px 8px 0px rgb(0,0,0,0.3);
    border: 2px solid black;
    Width: 220px;
    height: 200px;
}
.card img:hover{

    border: 5px solid #f18953; /*on ecrit border et n'est pas border  */
    border-radius: 15px;
}